@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased min-h-screen font-sans;
    margin: 0;
  }
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

